[submodule "characteristics-data"]
	path = characteristics-data
	url = https://github.com/pfefferniels/characteristics-data
[submodule "probstuecke-data"]
	path = probstuecke-data
	url = https://github.com/pfefferniels/probstuecke-data
