tei-note[type="editorial"] {
    width: 30%;
    float: right;
    border: 1px dashed #000;
    border-radius: 1rem;
    font-size: .7rem;
    padding: .5rem;
    margin: .5rem;
    text-align: left;
    text-indent: 0;
}

tei-note[place='foot'] {
    display: block;
    width: 90%;
    margin: 0.5rem auto;
    text-indent: 0rem;
    color: gray;
    padding: 0.5rem;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

tei-tei {
    font-size: 0.9rem;
    text-align: justify;
}

tei-head {
    font-weight: bold;
    text-align: center;
    display: block;
}

tei-text {
    font-family: Junicode;
    font-size: 1.1rem;
}

tei-lb {
    display: none;
}

.piece .title {
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0.5rem;
    z-index: 100;
}

.main-score {
    position: sticky;
    top: 0;
    padding-top: 2rem;
}

.ref {
    background-color: rgba(255, 200, 10, .2);
    cursor: pointer;
}

.highlight {
    background-color: rgba(255, 14, 10, 0.2);
}

svg * {
    pointer-events: bounding-box;
}