doctype html
head
  meta( name='viewport', content='width=device-width, initial-scale=1' )
  
  link(rel='stylesheet' href='css/annotorious.css')

  style.
    #left {
      width: 49vw;
      float: left;
    }
    
    #right {
      width: 49vw;
      float: right;
    }
    
    svg {
      display: block;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
      z-index: 400;
    }


  script(type='text/javascript' src='js/annotorious.min.js')
  script(type='text/javascript' src='js/annotateFacsimile.js')
    
#content
  h2 Annotate Facsimile Tool
  
  small (for internal use)

p  
  button(id="loadPS") load Probstueck Nr.
  input(type="number" id="psNumber")

#left
  span ...
  
#right
  p
    span Scan Page (e.g. #[code 386])
    input(type="number" id="scanId")
    button#getScan retrieve scan
  p 
      span write regions into: 
      select#type(name="type")
        option text 
        option music 
  p
    button#inject inject boxes
    p 
      small this will create a copy of #[code score.mei] or #[code annotation_de.tei]
        | in the #[code tmp] folder of the server that includes the facsimile regions. 
        | Furthermore a #[code facsimile_de.json] file is created that contains the 
        | same data as an IIIF AnnotationList. You can also download those files 
        | here:
  p
    button#getMEI download MEI 
    button#getTEI download TEI 
    button#getIIIF download AnnotationList JSON 
  
  p
    small For connecting a region with a measure of music, mark the region by click 
      | and drag, then click in the transcription on the measure that you want to 
      | reference.
  
  p#displayBoxes
  
  div
    img.annotatable#mainImage(src="#" alt="...")
    
