extends layout.pug

block headAdditions
  title Contributions
  
block content
  h2 Contributors
  ul
    li Niels Pfeffer (original author)
    li Klaus Rettinghaus
  
  h2 Get involved
  p 
    | This edition is open source and available on #[a(href='') github].
    | All kinds of contributions, e.g. bug reports, feature or enhancement requests etc. 
    | are highly appreciated.
