extends layout.pug

block headAdditions
  title Contributions
  
block content
  h2 Contributors
  
  p
    | This digital edition was originally developed by Niels Pfeffer as a part of a Master thesis at the Musikhochschule Freiburg
    | (#[i Johann Matthesons Probstücke der Oberclasse in einer hybriden Ausgabe. Gedanken zur Charakterisierung, Analyse und Editionstechnik], 2019).
    | In the meantime there have been major contributions by:
  
  ul
    li Klaus Rettinghaus
  
  h2 Get involved
  p 
    | This edition is open source and available on #[a(href='https://github.com/pfefferniels/probstuecke-digital') GitHub].
    | All kinds of contributions, e.g. bug reports, feature or enhancement requests etc. 
    | are highly appreciated.
