extends layout.pug

block headAdditions
  title Mattheson, 24 Probstücke 
  
  style(type='text/css').
    .name {
      text-transform: uppercase;
    }

block content
  center
    p.name Johann Mattheson
    h3 Der
    h2 Grossen
    h1 General=Baß=Schule
    h3 oder
    h2 Organisten=Probe
    h3 Ober=Classe /
    h4 bestehend
    h4 in
    h2 Vier und zwantzig etwas schweren
    h2 Exempeln.
    
    p Divisum sic breve fiet opus.
      i  Mart.
    
    br
    
