extends layout.pug

block headAdditions
  title How to use
  
block content
  h2 Edition Guidelines
  
  small (preliminary version)
  
  ul
    li All the original clefs are preserved, since it's possible to replace them automatically with modern clefs but not vice versa
    li Accidentals are adapted to modern use
    li Obvious and clear mistakes are corrected
    li The text is generally preserved in its original orthography, including the different letter-spacing.
       | However, for the sake of easier readability all #[code /] are replaced by #[code ,]
    li The long s (ſ) has been normalized
    li Linebreaks are not (yet) preserved
    li Musical meters in the text are encoded using a #[code /]
