extends layout.pug

block headAdditions
  title How to use
  
block content
  h2 How to use this edition
  
  small (preliminary version)
  
  h3 Annotations
  p 
    | By default, Mattheson's annotations on his Probst端cke are displayed in the original of the 
    | 2nd edition from 1731. For some of the Probst端cke, an English translation is provided as well
    | as the text of the first edition from 1719.
  
  h3 Links
  p 
    | On the left side is the score of the Probst端ck, on the right side Matthesons annotations. 
    | All the places where Matthesons mentions a particular measure, note, figure of etc. in his 
    | annotations are linked to the referenced place in the score and vice-versa.
  
  h3 Clefs
  p
    | For pedagogical reasons, Mattheson makes use of many different clefs and frequent clef changes.
    | It is possible to automatically change the clefs to their modern equivalents in the options.
  
  h3 Empty staves
  p 
    | Working practically on the Probst端cke one will often find oneself in the situation of wanting
    | to sketch multiple different realizations for a particular section of the piece. Therefore it
    | is possible to add up to 9 staffs above or below Mattheson's actual bass in the "options" menu. 
  
  h3 Exporting
  p 
    | Currently, only PDF export is supported (go to the "options" menu). In future other export 
    | formats might be suported.
  
  h3 Facsimile
  p 
    | By checking the "facsimile tooltips" option it is possible to display the according facsimile of each 
    | measure in the music by hovering the mouse over a measure in the music. 