extends layout.pug

block headAdditions
  title Getting started
  
  style.
    .paragraph {
      max-width: 80%;
      text-align: justify;
    }
    
    .overview-figure {
      max-width: 60%;
    }
  
block content
  h2 Getting started
  
  p.paragraph
    | <em>Probstücke Digital</em> is a digital edition that aims to edit the 24 so-called Probstücke of
    | Johann Mattheson. Mattheson published these pieces for the first time in 1719 and in 1731
    | again in the <i>Große Generalbass-Schule</i>. These pieces are written for a keyboard instrument,
    | but contain nothing more than just a single figured bass line. All the other voices required
    | to turn them into a full piece need to be improvised by the player. They can be
    | understood as sketches, that do not yet define how a final version might sound like.
    
  p.paragraph
    | Mattheson wrote a comment on every Probstück. These comments contain valuable hints on how
    | the particular piece might be realized, which makes the Große Generalbass-Schule one of the
    | most important German sources for thorough-bass playing in the 18th century. It is all the
    | more surprising that these pieces and their comments were never published before in a modern 
    | critical edition.
  
  p.paragraph
    | Due to the nature of the material edited here, there are two perspectives that need to be taken into
    | account: The perspective of the musicologist and of the performer.
  
  p.paragraph
    | Probstücke Digital provides diplomatic transcriptions of the original music and text encoded as
    | in <a href="https://music-encoding.org/">MEI</a> and <a href="https://tei-c.org/">TEI</a>.
    | Many editorial notes help to understand which matters Mattheson is referring to.
    | A <a href="/index/bibliography">bibliography</a> and <a href="/index/persons">index of persons</a>
    | give an overview of the referenced works and other musicians and theoreticians that Mattheson is referring to. 
  
  p.paragraph 
    | For the performer’s needs, many tools are provided. For example, it is possible to have additional
    | staves above or below Mattheson’s original bass line in order to easily work out different realizations.
  
  p.paragraph 
    | At the same time, <em>Probstücke Digital</em> aims to create a platform that lets a performer view
    | a Probstück from as many differents perspectives as possible. We include more and more material as
    | for example <a href="/view/10/pfeffer/english">exemplary realizations</a>, recordings or
    | <a href="/view/4/hill/english">lessons</a>. 
  
  figure.figure
    img(src='/images/overview.png').figure-img.img-fluid.rounded.overview-figure
    figcaption.figure-caption Overview on the features of <em>Probstücke Digital</em>.

  p.paragraph 
    | Everything is centered around the score and and its linking with corresponding comment. Around this,
    | many different tools are arranged. 
 
