extends layout.pug

block headAdditions
  link(rel='stylesheet' href='/css/index.css')

  script(type='text/javascript' src='/js/index.js')
  script.
    tei = `!{tei}`;
  
block content
  nav(aria-label='alphabetical index')
    ul.pagination.justify-content-center#pagination
  
  #main
