doctype html
head
  meta( name='viewport', content='width=device-width, initial-scale=1' )
  
  title Mattheson, 24 Probstücke 
  
  style(type='text/css').
    .name {
      text-transform: uppercase;
    }
  
center
  p.name Johann Mattheson
  h3 Der
  h2 Grossen
  h1 General=Baß=Schule
  h3 oder
  h2 Organisten=Probe
  h3 Ober=Classe /
  h4 bestehend
  h4 in
  h2 Vier und zwantzig etwas schweren
  h2 Exempeln.
  
  p Divisum sic breve fiet opus.
    i  Mart.
  
  br
  
  a(href='/1')
    big To the edition.
  
  small
    p  
    p &copy; 2019 Niels Pfeffer
    p [view on 
     a(href='https://github.com/pfefferniels/probstuecke-digital') github]
    
