doctype html
head
  meta( name='viewport', content='width=device-width, initial-scale=1' )

  link(rel='stylesheet' href='layout.css')

  script(type='text/javascript' src='jquery.min.js')
  script(type='text/javascript' src='CETEI.js')
  
  block headAdditions

#controls
  #contents-control.control contents
  
  #contents-table.controls-table.visible-table
    .controls-item
      h1 Introduction
      ul
        li
          a(href='howto') How to use this edition
        li
          a(href='guidelines') Edition guidelines
        li
          a(href='Contributions') Contributions
      
      h1 
        a(href='/') Front page
      
      h1 Der Ober-Classe ...
      ul
        li
          a(href='/1') ... erstes Prob-Stück
        li
          a(href='/2') ... zweites Prob-Stück
        li
          a(href='/3') ... drittes Prob-Stück
        li
          a(href='/4') ... viertes Prob-Stück
        li
          a(href='/5') ... fünfftes Prob-Stück
        li
          a(href='/6') ... sechstes Prob-Stück
        li
          a(href='/7') ... siebendes Prob-Stück
        li
          a(href='/8') ... achtes Prob-Stück
        li
          a(href='/9') ... neuntes Prob-Stück
        li
          a(href='/10') ... zehntes Prob-Stück
        li
          a(href='/11') ... elfftes Prob-Stück
        li
          a(href='/12') ... zwölfftes Prob-Stück
        li
          a(href='/13') ... dreizehntes Prob-Stück
        li 
          a(href='/14') ... vierzehntes Prob-Stück
        li
          a(href='/15') ... fünffzehntes Prob-Stück
        li
          a(href='/16') ... sechzehntes Prob-Stück
        li
          a(href='/17') ... siebenzehntes Prob-Stück
        li
          a(href='/18') ... achtzehnes Prob-Stück
        li
          a(href='/19') ... neunzehntes Prob-Stück
        li
          a(href='/20') ... zwantzigstes Prob-Stück
        li
          | ... ein und zwantzigstes Prob-Stück
        li
          | ... zwei und zwantzigstes Prob-Stück
        li
          | ... drey und zwantzigstes Prob-Stück
        li
          | ... vier und zwantzigstes Prob-Stück
  block controlsAdditions

#content
  block content

#message
#copyright &copy; Niels Pfeffer
