doctype html
head
  meta( name='viewport', content='width=device-width, initial-scale=1' )

  link(rel='stylesheet' href='/css/layout.css')

  script(type='text/javascript' src='/js/jquery.min.js')
  script(type='text/javascript' src='/js/CETEI.js')

  script.
    // navigation
    $(document).ready(function() {
      $('.child').hide();
      $('.parent').click(function() {
        $(this).siblings('.parent').find('ul').slideUp();
        $(this).find('ul').slideToggle();
      });
    });

  
  block headAdditions

#controls
  #contents-control.control contents
  
  #contents-table.controls-table.visible-table
    .controls-item
      h1 Introduction
      ul
        li
          a(href='/howto') How to use this edition
        li
          a(href='/guidelines') Edition guidelines
        li
          a(href='/Contributions') Contributions
      
      h1 
        a(href='/') Front page
      
      h1 Ober-Classe
      ul
        li.parent 1st Prob-Stück
          ul.child Facsimile
            li
              a(href='/facsimile/1/firstEdition') 1st edition (1719)
            li
              a(href='/facsimile/1/secondEdition') 2nd edition (1731)
          ul.child Transcription
            li
              a(href='/transcription/1/mattheson/firstEdition') 1st edition (1719)
            li
              a(href='/transcription/1/mattheson/secondEdition') 2nd edition (1731)
            li
              a(href='/transcription/1/mattheson/english') English translation
          ul.child Analysis
            li
              a(href='/transcription/1/pfeffer/german') Basse Fondamentale

        li.parent 2nd Prob-Stück
          ul.child Facsimile
            li
              a(href='/facsimile/2/firstEdition') 1st edition (1719)
            li
              a(href='/facsimile/2/secondEdition') 2nd edition (1731)
          ul.child Transcription
            li
              a(href='/transcription/2/mattheson/firstEdition') 1st edition (1719)
            li
              a(href='/transcription/2/mattheson/secondEdition') 2nd edition (1731)
            li
              a(href='/transcription/2/mattheson/english') English translation

        li.parent 3rd Prob-Stück
          ul.child Facsimile
            li
              a(href='/facsimile/3/firstEdition') 1st edition (1719)
            li
              a(href='/facsimile/3/secondEdition') 2nd edition (1731)
          ul.child Transcription
            li
              a(href='/transcription/3/mattheson/firstEdition') 1st edition (1719)
            li
              a(href='/transcription/3/mattheson/secondEdition') 2nd edition (1731)
            li
              a(href='/transcription/3/mattheson/english') English translation
          ul.child Lessons 
            li
              a(href='/transcription/3/hill/english') Robert Hill

        li.parent 4th Prob-Stück
          ul.child Facsimile
            li
              a(href='/facsimile/4/firstEdition') 1st edition (1719)
            li
              a(href='/facsimile/4/secondEdition') 2nd edition (1731)
          ul.child Transcription
            li
              a(href='/transcription/4/mattheson/firstEdition') 1st edition (1719)
            li
              a(href='/transcription/4/mattheson/secondEdition') 2nd edition (1731)
            li
              a(href='/transcription/4/mattheson/english') English translation

        li.parent 5th Prob-Stück
          ul.child Facsimile
            li
              a(href='/facsimile/5/firstEdition') 1st edition (1719)
            li
              a(href='/facsimile/5/secondEdition') 2nd edition (1731)
          ul.child Transcription
            li
              a(href='/transcription/5/mattheson/firstEdition') 1st edition (1719)
            li
              a(href='/transcription/5/mattheson/secondEdition') 2nd edition (1731)
            li
              a(href='/transcription/5/mattheson/english') English translation

        li.parent 6th Prob-Stück
          ul.child Facsimile
            li
              a(href='/facsimile/6/firstEdition') 1st edition (1719)
            li
              a(href='/facsimile/6/secondEdition') 2nd edition (1731)
          ul.child Transcription
            li
              a(href='/transcription/6/mattheson/firstEdition') 1st edition (1719)
            li
              a(href='/transcription/6/mattheson/secondEdition') 2nd edition (1731)
            li
              a(href='/transcription/6/mattheson/english') English translation

        li.parent 7th Prob-Stück
          ul.child Facsimile
            li
              a(href='/facsimile/7/firstEdition') 1st edition (1719)
            li
              a(href='/facsimile/7/secondEdition') 2nd edition (1731)
          ul.child Transcription
            li
              a(href='/transcription/7/mattheson/secondEdition') 2nd edition (1731)
            li
              a(href='/transcription/7/mattheson/english') English translation

        li.parent 8th Prob-Stück
          ul.child Facsimile
            li
              a(href='/facsimile/8/firstEdition') 1st edition (1719)
            li
              a(href='/facsimile/8/secondEdition') 2nd edition (1731)
          ul.child Transcription
            li
              a(href='/transcription/8/mattheson/secondEdition') 2nd edition (1731)
            li
              a(href='/transcription/8/mattheson/english') English translation

        li.parent 9th Prob-Stück
          ul.child Facsimile
            li
              a(href='/facsimile/9/firstEdition') 1st edition (1719)
            li
              a(href='/facsimile/9/secondEdition') 2nd edition (1731)
          ul.child Transcription
            li
              a(href='/transcription/9/mattheson/secondEdition') 2nd edition (1731)
            li
              a(href='/transcription/9/mattheson/english') English translation

        li.parent 10th Prob-Stück
          ul.child Facsimile
            li
              a(href='/facsimile/10/firstEdition') 1st edition (1719)
            li
              a(href='/facsimile/10/secondEdition') 2nd edition (1731)
          ul.child Transcription
            li
              a(href='/transcription/10/mattheson/firstEdition') 1st edition (1719)
            li
              a(href='/transcription/10/mattheson/secondEdition') 2nd edition (1731)
            li
              a(href='/transcription/10/mattheson/english') English translation
          ul.child Realizations
            li
              a(href='/transcription/10/pfeffer/german') Niels Pfeffer (2019)
              
        li.parent 11th Prob-Stück
          ul.child Facsimile
            li
              a(href='/facsimile/11/firstEdition') 1st edition (1719)
            li
              a(href='/facsimile/11/secondEdition') 2nd edition (1731)
          ul.child Transcription
            li
              a(href='/transcription/11/mattheson/secondEdition') 2nd edition (1731)
            li
              a(href='/transcription/11/mattheson/english') English translation
        
        li.parent 12th Prob-Stück
          ul.child Facsimile
            li
              a(href='/facsimile/12/firstEdition') 1st edition (1719)
            li
              a(href='/facsimile/12/secondEdition') 2nd edition (1731)
          ul.child Transcription
            li
              a(href='/transcription/12/mattheson/secondEdition') 2nd edition (1731)
            li
              a(href='/transcription/12/mattheson/english') English translation

        li.parent 13th Prob-Stück
          ul.child Facsimile
            li
              a(href='/facsimile/13/firstEdition') 1st edition (1719)
            li
              a(href='/facsimile/13/secondEdition') 2nd edition (1731)
          ul.child Transcription
            li
              a(href='/transcription/13/mattheson/secondEdition') 2nd edition (1731)
            li
              a(href='/transcription/13/mattheson/english') English translation

        li.parent 14th Prob-Stück
          ul.child Facsimile
            li
              a(href='/facsimile/14/firstEdition') 1st edition (1719)
            li
              a(href='/facsimile/14/secondEdition') 2nd edition (1731)
          ul.child Transcription
            li
              a(href='/transcription/14/mattheson/secondEdition') 2nd edition (1731)
            li
              a(href='/transcription/14/mattheson/english') English translation

        li.parent 15th Prob-Stück
          ul.child Facsimile
            li
              a(href='/facsimile/15/firstEdition') 1st edition (1719)
            li
              a(href='/facsimile/15/secondEdition') 2nd edition (1731)
          ul.child Transcription
            li
              a(href='/transcription/15/mattheson/secondEdition') 2nd edition (1731)

        li.parent 16th Prob-Stück
          ul.child Facsimile
            li
              a(href='/facsimile/16/firstEdition') 1st edition (1719)
            li
              a(href='/facsimile/16/secondEdition') 2nd edition (1731)
          ul.child Transcription
            li
              a(href='/transcription/16/mattheson/secondEdition') 2nd edition (1731)


        li.parent 17th Prob-Stück
          ul.child Facsimile
            li
              a(href='/facsimile/17/firstEdition') 1st edition (1719)
            li
              a(href='/facsimile/17/secondEdition') 2nd edition (1731)
          ul.child Transcription
            li
              a(href='/transcription/17/mattheson/secondEdition') 2nd edition (1731)

        li.parent 18th Prob-Stück
          ul.child Facsimile
            li
              a(href='/facsimile/18/firstEdition') 1st edition (1719)
            li
              a(href='/facsimile/18/secondEdition') 2nd edition (1731)
          ul.child Transcription
            li
              a(href='/transcription/18/mattheson/secondEdition') 2nd edition (1731)

        li.parent 19th Prob-Stück
          ul.child Facsimile
            li
              a(href='/facsimile/19/firstEdition') 1st edition (1719)
            li
              a(href='/facsimile/19/secondEdition') 2nd edition (1731)
          ul.child Transcription
            li
              a(href='/transcription/19/mattheson/secondEdition') 2nd edition (1731)


        li.parent 20th Prob-Stück
          ul.child Facsimile
            li
              a(href='/facsimile/20/firstEdition') 1st edition (1719)
            li
              a(href='/facsimile/20/secondEdition') 2nd edition (1731)
          ul.child Transcription
            li
              a(href='/transcription/20/mattheson/secondEdition') 2nd edition (1731)

        li.parent 21st Prob-Stück
          ul.child Facsimile
            li
              a(href='/facsimile/21/firstEdition') 1st edition (1719)
            li
              a(href='/facsimile/21/secondEdition') 2nd edition (1731)
          ul.child Transcription
            li
              a(href='/transcription/21/mattheson/secondEdition') 2nd edition (1731)

  block controlsAdditions

#content
  block content

#message
#copyright &copy; Niels Pfeffer
