doctype html
head
  meta( name='viewport', content='width=device-width, initial-scale=1' )

  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css')
  link(rel='stylesheet' href='/css/layout.css')

  script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js')
  script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js')
  script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js')
  script(type='text/javascript' src='/js/CETEI.js')

  block headAdditions

mixin menu(title)
  li.nav-item
    a.nav-link.collapsed.dropdown-toggle.p-0.pl-1(href='#'+attributes.id data-toggle='collapse' data-target='#'+attributes.id)= title
    div.collapse(id=attributes.id aria-expanded='false')
      ul.flex-column.nav.pl-2
        small
          block

mixin submenu(title)
  li.nav-item= title
    ul.list-unstyled
      block

mixin subitem(title)
  li.pl-1
    a(href=attributes.href)= title

.d-flex
  nav#sidebar.border-right.pt-1.pl-1.min-vh-100
    .sidebar-header Contents

      ul.nav.flex-column.flex-nowrap.overflow-hidden
        +menu('Introduction')(id='introduction')
          +subitem('How to use this edition')(href='/howto')
          +subitem('Edition Guidelines')(href='/guidelines')
          +subitem('Contributions')(href='/Contributions')

        +menu('Front page')(id='frontpage')
          +submenu('Transcription')
            +subitem('1st edition (1719)')(href='/transcription/frontpage/mattheson/firstEdition')
            +subitem('2nd edition (1731)')(href='/transcription/frontpage/mattheson/secondEdition')


        li.nav-item.text-nowrap
          a(href='#oberclasse' data-toggle='collapse' aria-expanded='true' class='dropdown-toggle') Ober-Classe

          ul.flex-column.pl-2.nav#oberclasse
            +menu('1st Probstück')(id='ps-1')
              +submenu('Facsimile')
                +subitem('1st edition (1719)')(href='/facsimile/1/firstEdition')
                +subitem('2nd edition (1731)')(href='/facsimile/1/secondEdition')
              +submenu('Transcription')
                +subitem('1st edition (1719)')(href='/transcription/1/mattheson/firstEdition')
                +subitem('2nd edition (1731)')(href='/transcription/1/mattheson/secondEdition')
                +subitem('English translation')(href='/transcription/1/mattheson/english')
              +submenu('Analysis')
                +subitem('Basse Fondamentale')(href='/transcription/1/pfeffer/german')

            +menu('2nd Probstück')(id='ps-2')
              +submenu('Facsimile')
                +subitem('1st edition (1719)')(href='/facsimile/2/firstEdition')
                +subitem('2nd edition (1731)')(href='/facsimile/2/secondEdition')
              +submenu('Transcription')
                +subitem('1st edition (1719)')(href='/transcription/2/mattheson/firstEdition')
                +subitem('2nd edition (1731)')(href='/transcription/2/mattheson/secondEdition')
                +subitem('English translation')(href='/transcription/2/mattheson/english')

            +menu('3rd Probstück')(id='ps-3')
              +submenu('Facsimile')
                +subitem('1st edition (1719)')(href='/facsimile/3/firstEdition')
                +subitem('2nd edition (1731)')(href='/facsimile/3/secondEdition')
              +submenu('Transcription')
                +subitem('1st edition (1719)')(href='/transcription/3/mattheson/firstEdition')
                +subitem('2nd edition (1731)')(href='/transcription/3/mattheson/secondEdition')
                +subitem('English translation')(href='/transcription/3/mattheson/english')
              +submenu('Lessons')
                +subitem('Robert Hill (2019)')(href='/transcription/3/hill/english')

            +menu('4th Probstück')(id='ps-4')
              +submenu('Facsimile')
                +subitem('1st edition (1719)')(href='/facsimile/4/firstEdition')
                +subitem('2nd edition (1731)')(href='/facsimile/4/secondEdition')
              +submenu('Transcription')
                +subitem('2nd edition (1731)')(href='/transcription/4/mattheson/secondEdition')
                +subitem('English translation')(href='/transcription/4/mattheson/english')
              +submenu('Lessons')
                +subitem('Robert Hill (2019)')(href='/transcription/4/hill/german')

            +menu('5th Probstück')(id='ps-5')
              +submenu('Facsimile')
                +subitem('1st edition (1719)')(href='/facsimile/5/firstEdition')
                +subitem('2nd edition (1731)')(href='/facsimile/5/secondEdition')
              +submenu('Transcription')
                +subitem('1st edition (1719)')(href='/transcription/5/mattheson/firstEdition')
                +subitem('2nd edition (1731)')(href='/transcription/5/mattheson/secondEdition')
                +subitem('English translation')(href='/transcription/5/mattheson/english')

            +menu('6th Probstück')(id='ps-6')
              +submenu('Facsimile')
                +subitem('1st edition (1719)')(href='/facsimile/6/firstEdition')
              +submenu('Transcription')
                +subitem('1st edition (1719)')(href='/transcription/6/mattheson/firstEdition')
                +subitem('2nd edition (1731)')(href='/transcription/6/mattheson/secondEdition')
                +subitem('English translation')(href='/transcription/6/mattheson/english')

            +menu('7th Probstück')(id='ps-7')
              +submenu('Facsimile')
                +subitem('1st edition (1719)')(href='/facsimile/7/firstEdition')
              +submenu('Transcription')
                +subitem('1st edition (1719)')(href='/transcription/7/mattheson/firstEdition')
                +subitem('2nd edition (1731)')(href='/transcription/7/mattheson/secondEdition')
                +subitem('English translation')(href='/transcription/7/mattheson/english')
              +submenu('Realizations')
                +subitem('Niels Pfeffer (2019)')(href='/transcription/7/pfeffer/german')

            +menu('8th Probstück')(id='ps-8')
              +submenu('Transcription')
                +subitem('1st edition (1719)')(href='/transcription/8/mattheson/firstEdition')
                +subitem('2nd edition (1731)')(href='/transcription/8/mattheson/secondEdition')
                +subitem('English translation')(href='/transcription/8/mattheson/english')

            +menu('9th Probstück')(id='ps-9')
              +submenu('Transcription')
                +subitem('2nd edition (1731)')(href='/transcription/9/mattheson/secondEdition')
                +subitem('English translation')(href='/transcription/9/mattheson/english')


            +menu('10th Probstück')(id='ps-10')
              +submenu('Transcription')
                +subitem('2nd edition (1731)')(href='/transcription/10/mattheson/secondEdition')
                +subitem('English translation')(href='/transcription/10/mattheson/english')
              +submenu('Realizations')
                +subitem('Niels Pfeffer (2019)')(href='/transcription/10/pfeffer/german')

            +menu('11th Probstück')(id='ps-11')
              +submenu('Transcription')
                +subitem('1st edition (1719)')(href='/transcription/11/mattheson/firstEdition')
                +subitem('2nd edition (1731)')(href='/transcription/11/mattheson/secondEdition')
                +subitem('English translation')(href='/transcription/11/mattheson/english')

            +menu('12th Probstück')(id='ps-12')
              +submenu('Transcription')
                +subitem('2nd edition (1731)')(href='/transcription/12/mattheson/secondEdition')
                +subitem('English translation')(href='/transcription/12/mattheson/english')

            +menu('13th Probstück')(id='ps-13')
              +submenu('Transcription')
                +subitem('2nd edition (1731)')(href='/transcription/13/mattheson/secondEdition')
                +subitem('English translation')(href='/transcription/13/mattheson/english')

            +menu('14th Probstück')(id='ps-14')
              +submenu('Transcription')
                +subitem('1st edition (1619)')(href='/transcription/14/mattheson/firstEdition')
                +subitem('2nd edition (1731)')(href='/transcription/14/mattheson/secondEdition')
                +subitem('English translation')(href='/transcription/14/mattheson/english')

            +menu('15th Probstück')(id='ps-15')
              +submenu('Transcription')
                +subitem('2nd edition (1731)')(href='/transcription/15/mattheson/secondEdition')
                +subitem('English translation')(href='/transcription/15/mattheson/english')

            +menu('16th Probstück')(id='ps-16')
              +submenu('Transcription')
                +subitem('2nd edition (1731)')(href='/transcription/16/mattheson/secondEdition')
                +subitem('English translation')(href='/transcription/16/mattheson/english')

            +menu('17th Probstück')(id='ps-17')
              +submenu('Transcription')
                +subitem('2nd edition (1731)')(href='/transcription/17/mattheson/secondEdition')

            +menu('18th Probstück')(id='ps-18')
              +submenu('Transcription')
                +subitem('2nd edition (1731)')(href='/transcription/18/mattheson/secondEdition')

            +menu('19th Probstück')(id='ps-19')
              +submenu('Transcription')
                +subitem('2nd edition (1731)')(href='/transcription/19/mattheson/secondEdition')

            +menu('20th Probstück')(id='ps-20')
              +submenu('Transcription')
                +subitem('1st edition (1619)')(href='/transcription/20/mattheson/firstEdition')
                +subitem('2nd edition (1731)')(href='/transcription/20/mattheson/secondEdition')

            +menu('21th Probstück')(id='ps-21')
              +submenu('Transcription')
                +subitem('1st edition (1619)')(href='/transcription/21/mattheson/firstEdition')
                +subitem('2nd edition (1731)')(href='/transcription/21/mattheson/secondEdition')

  .mt-1#options
    block options

  .container-fluid
    block content

#message.d-none.fixed-top.text-center
#copyright.bg-light.font-weight-light &copy; Niels Pfeffer
