doctype html
head
  meta( name='viewport', content='width=device-width, initial-scale=1' )

  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css')
  link(rel='stylesheet' href='/css/layout.css')

  script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js')
  script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js')
  script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js')
  script(type='text/javascript' src='/js/CETEI.js')

  block headAdditions

.d-flex
  nav#sidebar.border-right.pt-1.pl-1.min-vh-100
    .sidebar-header Contents
    
      ul.nav.flex-column.flex-nowrap.overflow-hidden
        li.nav-item
          a(href='#introduction' data-toggle='collapse' aria-expanded='false' class='dropdown-toggle') Introduction
          ul.collapse.list-unstyled#introduction
            li
              a(href='/howto') How to use this edition
            li
              a(href='/guidelines') Edition guidelines
            li
              a(href='/Contributions') Contributions
  
        li.nav-item.text-nowrap
          a(href='#frontpage' data-toggle='collapse' class='dropdown-toggle') Front page
          div.collapse#frontpage(aria-expanded='false')
            small
              ul.collapse.flex-column.pl-2.nav#frontpage
                li.nav-item Transcription
                  ul.list-unstyled
                    li.pl-1
                      a(href='/transcription/frontpage/mattheson/firstEdition') 1st edition (1719)
                    li.pl-1
                      a(href='/transcription/frontpage/mattheson/secondEdition') 2nd edition (1731)

        
        li.nav-item.text-nowrap
          a(href='#oberclasse' data-toggle='collapse' aria-expanded='true' class='dropdown-toggle') Ober-Classe
  
          ul.flex-column.pl-2.nav#oberclasse
            li.nav-item
              a.nav-link.collapsed.p-0.pl-1(href='#ps1' data-toggle='collapse' data-target='#ps-1') 1st Probstück
              div.collapse#ps-1(aria-expanded='false')
                ul.flex-column.nav.pl-2
                  small 
                    li.nav-item Facsimile
                      ul.list-unstyled
                        li.pl-1
                          a(href='/facsimile/1/firstEdition') 1st edition (1719)
                        li.pl-1
                          a(href='/facsimile/1/secondEdition') 2nd edition (1731)
                    li.nav-item Transcription
                      ul.list-unstyled
                        li.pl-1
                          a(href='/transcription/1/mattheson/firstEdition') 1st edition (1719)
                        li.pl-1
                          a(href='/transcription/1/mattheson/secondEdition') 2nd edition (1731)
                        li.pl-1
                          a(href='/transcription/1/mattheson/english') English translation
                    li.nav-item Analysis
                      ul.list-unstyled 
                        li.pl-1
                          a(href='/transcription/1/pfeffer/german') Basse Fondamentale
                  
            li.nav-item
              a.nav-link.collapsed.p-0.pl-1(href='#ps2' data-toggle='collapse' data-target='#ps-2') 2nd Probstück
              div.collapse#ps-2(aria-expanded='false')
                ul.flex-column.nav.pl-2
                  small 
                    li.nav-item Facsimile
                      ul.list-unstyled
                        li.pl-1
                          a(href='/facsimile/2/firstEdition') 1st edition (1719)
                        li.pl-1
                          a(href='/facsimile/2/secondEdition') 2nd edition (1731)
                    li.nav-item Transcription
                      ul.list-unstyled
                        li.pl-1
                          a(href='/transcription/2/mattheson/secondEdition') 2nd edition (1731)
                        li.pl-1
                          a(href='/transcription/2/mattheson/english') English translation

            li.nav-item
              a.nav-link.collapsed.p-0.pl-1(href='#ps3' data-toggle='collapse' data-target='#ps-3') 3rd Probstück
              div.collapse#ps-3(aria-expanded='false')
                ul.flex-column.nav.pl-2
                  small 
                    li.nav-item Facsimile
                      ul.list-unstyled
                        li.pl-1
                          a(href='/facsimile/3/firstEdition') 1st edition (1719)
                        li.pl-1
                          a(href='/facsimile/3/secondEdition') 2nd edition (1731)
                    li.nav-item Transcription
                      ul.list-unstyled
                        li.pl-1
                          a(href='/transcription/3/mattheson/firstEdition') 1st edition (1719)
                        li.pl-1
                          a(href='/transcription/3/mattheson/secondEdition') 2nd edition (1731)
                        li.pl-1
                          a(href='/transcription/3/mattheson/english') English translation
                    li.nav-item Lessons
                      ul.list-unstyled 
                        li.pl-1
                          a(href='/transcription/3/hill/english') Robert Hill (2019)
                  
            li.nav-item
              a.nav-link.collapsed.p-0.pl-1(href='#ps4' data-toggle='collapse' data-target='#ps-4') 4th Probstück
              div.collapse#ps-4(aria-expanded='false')
                ul.flex-column.nav.pl-2
                  small 
                    li.nav-item Facsimile
                      ul.list-unstyled
                        li.pl-1
                          a(href='/facsimile/4/firstEdition') 1st edition (1719)
                        li.pl-1
                          a(href='/facsimile/4/secondEdition') 2nd edition (1731)
                    li.nav-item Transcription
                      ul.list-unstyled
                        li.pl-1
                          a(href='/transcription/4/mattheson/firstEdition') 1st edition (1719)
                        li.pl-1
                          a(href='/transcription/4/mattheson/secondEdition') 2nd edition (1731)
                        li.pl-1
                          a(href='/transcription/4/mattheson/english') English translation

            li.nav-item
              a.nav-link.collapsed.p-0.pl-1(href='#ps5' data-toggle='collapse' data-target='#ps-5') 5th Probstück
              div.collapse#ps-5(aria-expanded='false')
                ul.flex-column.nav.pl-2
                  small 
                    li.nav-item Facsimile
                      ul.list-unstyled
                        li.pl-1
                          a(href='/facsimile/5/firstEdition') 1st edition (1719)
                        li.pl-1
                          a(href='/facsimile/5/secondEdition') 2nd edition (1731)
                    li.nav-item Transcription
                      ul.list-unstyled
                        li.pl-1
                          a(href='/transcription/5/mattheson/firstEdition') 1st edition (1719)
                        li.pl-1
                          a(href='/transcription/5/mattheson/secondEdition') 2nd edition (1731)
                        li.pl-1
                          a(href='/transcription/5/mattheson/english') English translation
                  
            li.nav-item
              a.nav-link.collapsed.p-0.pl-1(href='#ps6' data-toggle='collapse' data-target='#ps-6') 6th Probstück
              div.collapse#ps-6(aria-expanded='false')
                ul.flex-column.nav.pl-2
                  small 
                    li.nav-item Facsimile
                      ul.list-unstyled
                        li.pl-1
                          a(href='/facsimile/6/firstEdition') 1st edition (1719)
                    li.nav-item Transcription
                      ul.list-unstyled
                        li.pl-1
                          a(href='/transcription/6/mattheson/firstEdition') 1st edition (1719)
                        li.pl-1
                          a(href='/transcription/6/mattheson/secondEdition') 2nd edition (1731)
                        li.pl-1
                          a(href='/transcription/6/mattheson/english') English translation

            li.nav-item
              a.nav-link.collapsed.p-0.pl-1(href='#ps7' data-toggle='collapse' data-target='#ps-7') 7th Probstück
              div.collapse#ps-7(aria-expanded='false')
                ul.flex-column.nav.pl-2
                  small 
                    li.nav-item Facsimile
                      ul.list-unstyled
                        li.pl-1
                          a(href='/facsimile/7/firstEdition') 1st edition (1719)
                    li.nav-item Transcription
                      ul.list-unstyled
                        li.pl-1
                          a(href='/transcription/7/mattheson/secondEdition') 2nd edition (1731)
                        li.pl-1
                          a(href='/transcription/7/mattheson/english') English translation
                    li.nav-item Realizations
                      ul.list-unstyled 
                        li.pl-1
                          a(href='/transcription/7/pfeffer/german') Niels Pfeffer (2019)
                  
            li.nav-item
              a.nav-link.collapsed.p-0.pl-1(href='#ps8' data-toggle='collapse' data-target='#ps-8') 8th Probstück
              div.collapse#ps-8(aria-expanded='false')
                ul.flex-column.nav.pl-2
                  small 
                    li.nav-item Transcription
                      ul.list-unstyled
                        li.pl-1
                          a(href='/transcription/8/mattheson/secondEdition') 2nd edition (1731)
                        li.pl-1
                          a(href='/transcription/8/mattheson/english') English translation

            li.nav-item
              a.nav-link.collapsed.p-0.pl-1(href='#ps9' data-toggle='collapse' data-target='#ps-9') 9th Probstück
              div.collapse#ps-9(aria-expanded='false')
                ul.flex-column.nav.pl-2
                  small 
                    li.nav-item Transcription
                      ul.list-unstyled
                        li.pl-1
                          a(href='/transcription/9/mattheson/secondEdition') 2nd edition (1731)
                        li.pl-1
                          a(href='/transcription/9/mattheson/english') English translation
                  
            li.nav-item
              a.nav-link.collapsed.p-0.pl-1(href='#ps10' data-toggle='collapse' data-target='#ps-10') 10th Probstück
              div.collapse#ps-10(aria-expanded='false')
                ul.flex-column.nav.pl-2
                  small 
                    li.nav-item Transcription
                      ul.list-unstyled
                        li.pl-1
                          a(href='/transcription/10/mattheson/secondEdition') 2nd edition (1731)
                        li.pl-1
                          a(href='/transcription/10/mattheson/english') English translation
                    li.nav-item Realizations
                      ul.list-unstyled 
                        li.pl-1
                          a(href='/transcription/10/pfeffer/german') Niels Pfeffer (2019)

            li.nav-item
              a.nav-link.collapsed.p-0.pl-1(href='#ps11' data-toggle='collapse' data-target='#ps-11') 11th Probstück
              div.collapse#ps-11(aria-expanded='false')
                ul.flex-column.nav.pl-2
                  small 
                    li.nav-item Transcription
                      ul.list-unstyled
                        li.pl-1
                          a(href='/transcription/11/mattheson/secondEdition') 2nd edition (1731)
                        li.pl-1
                          a(href='/transcription/11/mattheson/english') English translation
                  
            li.nav-item
              a.nav-link.collapsed.p-0.pl-1(href='#ps12' data-toggle='collapse' data-target='#ps-12') 12th Probstück
              div.collapse#ps-12(aria-expanded='false')
                ul.flex-column.nav.pl-2
                  small 
                    li.nav-item Transcription
                      ul.list-unstyled
                        li.pl-1
                          a(href='/transcription/12/mattheson/secondEdition') 2nd edition (1731)
                        li.pl-1
                          a(href='/transcription/12/mattheson/english') English translation

            li.nav-item
              a.nav-link.collapsed.p-0.pl-1(href='#ps13' data-toggle='collapse' data-target='#ps-13') 13th Probstück
              div.collapse#ps-13(aria-expanded='false')
                ul.flex-column.nav.pl-2
                  small 
                    li.nav-item Transcription
                      ul.list-unstyled
                        li.pl-1
                          a(href='/transcription/13/mattheson/secondEdition') 2nd edition (1731)
                        li.pl-1
                          a(href='/transcription/13/mattheson/english') English translation
                  
            li.nav-item
              a.nav-link.collapsed.p-0.pl-1(href='#ps14' data-toggle='collapse' data-target='#ps-14') 14th Probstück
              div.collapse#ps-14(aria-expanded='false')
                ul.flex-column.nav.pl-2
                  small 
                    li.nav-item Transcription
                      ul.list-unstyled
                        li.pl-1
                          a(href='/transcription/14/mattheson/secondEdition') 2nd edition (1731)
                        li.pl-1
                          a(href='/transcription/14/mattheson/english') English translation

            li.nav-item
              a.nav-link.collapsed.p-0.p-0.pl-1(href='#ps15' data-toggle='collapse' data-target='#ps-15') 15th Probstück
              div.collapse#ps-15(aria-expanded='false')
                ul.flex-column.nav.pl-2
                  small 
                    li.nav-item Transcription
                      ul.list-unstyled
                        li.pl-1
                          a(href='/transcription/15/mattheson/secondEdition') 2nd edition (1731)
                        li.pl-1
                          a(href='/transcription/15/mattheson/english') English translation

            li.nav-item
              a.nav-link.collapsed.p-0.p-0.pl-1(href='#ps16' data-toggle='collapse' data-target='#ps-16') 16th Probstück
              div.collapse#ps-16(aria-expanded='false')
                ul.flex-column.nav.pl-2
                  small 
                    li.nav-item Transcription
                      ul.list-unstyled
                        li.pl-1
                          a(href='/transcription/16/mattheson/secondEdition') 2nd edition (1731)
                        li.pl-1
                          a(href='/transcription/16/mattheson/english') English translation

            li.nav-item
              a.nav-link.collapsed.p-0.pl-1(href='#ps17' data-toggle='collapse' data-target='#ps-17') 17th Probstück
              div.collapse#ps-17(aria-expanded='false')
                ul.flex-column.nav.pl-2
                  small 
                    li.nav-item Transcription
                      ul.list-unstyled
                        li.pl-1
                          a(href='/transcription/17/mattheson/secondEdition') 2nd edition (1731)

            li.nav-item
              a.nav-link.collapsed.p-0.pl-1(href='#ps18' data-toggle='collapse' data-target='#ps-18') 18th Probstück
              div.collapse#ps-18(aria-expanded='false')
                ul.flex-column.nav.pl-2
                  small 
                    li.nav-item Transcription
                      ul.list-unstyled
                        li.pl-1
                          a(href='/transcription/18/mattheson/secondEdition') 2nd edition (1731)
                  
            li.nav-item
              a.nav-link.collapsed.p-0.pl-1(href='#ps19' data-toggle='collapse' data-target='#ps-19') 19th Probstück
              div.collapse#ps-19(aria-expanded='false')
                ul.flex-column.nav.pl-2
                  small 
                    li.nav-item Transcription
                      ul.list-unstyled
                        li.pl-1
                          a(href='/transcription/19/mattheson/secondEdition') 2nd edition (1731)

            li.nav-item
              a.nav-link.collapsed.p-0.pl-1(href='#ps20' data-toggle='collapse' data-target='#ps-20') 20th Probstück
              div.collapse#ps-20(aria-expanded='false')
                ul.flex-column.nav.pl-2
                  small 
                    li.nav-item Transcription
                      ul.list-unstyled
                        li.pl-1
                          a(href='/transcription/20/mattheson/secondEdition') 2nd edition (1731)
                  
            li.nav-item
              a.nav-link.collapsed.p-0.pl-1(href='#ps21' data-toggle='collapse' data-target='#ps-21') 21th Probstück
              div.collapse#ps-21(aria-expanded='false')
                ul.flex-column.nav.pl-2
                  small 
                    li.nav-item Transcription
                      ul.list-unstyled
                        li.pl-1
                          a(href='/transcription/21/mattheson/secondEdition') 2nd edition (1731)


  .mt-1#options
    block options
  
  .container-fluid
    block content

#message.d-none.fixed-top.text-center
#copyright.bg-light.font-weight-light &copy; Niels Pfeffer
