doctype html
head
  meta( name='viewport', content='width=device-width, initial-scale=1' )

  link(rel='stylesheet' href='/css/layout.css')

  script(type='text/javascript' src='/js/jquery.min.js')
  script(type='text/javascript' src='/js/CETEI.js')

  script.
    // navigation
    $(document).ready(function() {
      $('.child').hide();
      $('.parent').click(function() {
        $(this).siblings('.parent').find('ul').slideUp();
        $(this).find('ul').slideToggle();
      });
    });

  
  block headAdditions

#controls
  #contents-control.control contents
  
  #contents-table.controls-table.visible-table
    .controls-item
      h1 Introduction
      ul
        li
          a(href='/howto') How to use this edition
        li
          a(href='/guidelines') Edition guidelines
        li
          a(href='/Contributions') Contributions
      
      h1 
        a(href='/') Front page
      
      h1 Ober-Classe
      ul
        li.parent First Prob-Stück
          ul.child Facsimile
            li
              a(href='/facsimile/1/firstEdition') 1st edition (1719)
            li
              a(href='/facsimile/1/secondEdition') 2nd edition (1731)
          ul.child Transcription
            li
              a(href='/transcription/1/mattheson/firstEdition') 1st edition (1719)
            li
              a(href='/transcription/1/mattheson/secondEdition') 2nd edition (1731)
            li
              a(href='/transcription/1/mattheson/english') English translation
          ul.child Analysis
            li
              a(href='/transcription/1/basse-fondamentale/german') Basse Fondamentale

        li.parent Second Prob-Stück
          ul.child Facsimile
            li
              a(href='/facsimile/2/firstEdition') 1st edition (1719)
            li
              a(href='/facsimile/2/secondEdition') 2nd edition (1731)
          ul.child Transcription
            li
              a(href='/transcription/2/mattheson/firstEdition') 1st edition (1719)
            li
              a(href='/transcription/2/mattheson/secondEdition') 2nd edition (1731)
            li
              a(href='/transcription/2/mattheson/english') English translation

        li.parent Third Prob-Stück
          ul.child Facsimile
            li
              a(href='/facsimile/3/firstEdition') 1st edition (1719)
            li
              a(href='/facsimile/3/secondEdition') 2nd edition (1731)
          ul.child Transcription
            li
              a(href='/transcription/3/mattheson/firstEdition') 1st edition (1719)
            li
              a(href='/transcription/3/mattheson/secondEdition') 2nd edition (1731)
            li
              a(href='/transcription/3/mattheson/english') English translation
          ul.child Comments 
            li
              a(href='/transcription/3/hill/english') Prof. Robert Hill (2019)


  block controlsAdditions

#content
  block content

#message
#copyright &copy; Niels Pfeffer
