extends layout.pug

block headAdditions
  title Index of Persons

  link(rel='stylesheet' href='/css/persons.css')

  script(type='text/javascript' src='/js/persons.js')
  script.
    persons = `!{persons}`;
  
block content
  h4 Index of Persons 
  
  ul#persons
