extends layout.pug

block headAdditions
  style(type='text/css').
    .container-fluid {
      background: url('/images/start-bg.png') no-repeat center top fixed; 
      background-size: 100% auto;
    }
    
    .header {
      margin-top: 30vh;
      position: fixed;
    }
    
    .overlay {
      background: rgba(256,256,256,0.5);
      width: max-content;
      padding: 0.2rem;
      margin: 1rem;
    }
    
  title Probstücke Digital

block content
  header.header
    h1.overlay.display-4
      strong Probstücke Digital
    p.overlay.lead an enhanced critical digital edition of 24 Probstücke by Johann Mattheson
