#copyright {
  position: fixed;
  right: 0;
  bottom: 0;
}

#options {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
}

.form-control-xs {
  height: calc(1em + .375rem + 2px) !important;
  padding: .125rem .25rem !important;
  font-size: .75rem !important;
  line-height: 1.5;
  border-radius: .2rem;
}
