svg {
  display: block;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 400;
}

.indicator {
  cursor: pointer;
}

.tooltip-overlay {
  position: absolute;
  border: 1.5px solid #5f97fc;
  background-color: #8cb5ff;
  opacity: 0.3;
}

#tooltips {
  transform: scale(0.6);
  transform-origin: top left;
  z-index: 900;
}

.tooltip {
  float: left;
  border: 1px solid black;
  background-color: white;
  z-index: 900;
}

.system-break {
  float: left;
  font-size: 2em;
  padding-left: 5px;
  padding-right: 5px;
  background-color: white;
}

.tooltip-text {
  font-size: 1.2em;
  line-height: 1.5;
  font-family: serif;
  text-align: justify;
  width: 400px;
  padding: 0.5em;
}

.left-half {
  position: absolute;
  display: flex;
  justify-content: center;
  float:left;
  left: 0px;
  width: 50%;
  height: 95vh;
}

.left-half table {
  width: 90%;
}

.right-half {
  position: absolute;
  right: 0px;
  width: 50%;
  height: 95vh;
}

.control {
  padding-bottom: 0.3em;
  font-family: sans-serif;
  font-size: 0.8em;
  text-transform: uppercase;
  cursor: pointer;
}

.control:hover {
  color: #991c00;
}

#controls {
  position: absolute;
  z-index: 10;
  margin-bottom: 5px;
}

.controls-table {
  position: absolute;
  display: none;
  opacity: 0;
  visibility: hidden;
  min-width: 15vw;
  transition: opacity 500ms, visibility 500ms;
  background-color: #f9fafc;
  font-family: sans-serif;
  font-size: 0.78em;
  border: 1px solid black;
  border-radius: 5px 5px 5px;
  box-shadow: 4px 4px 8px 0px rgba(191,191,191,1);
}

@keyframes fade {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

.controls-item {
  padding-left: 0.5em;
  padding-right: 0.5em;
  clear: both;
}

.controls-item:last-child {
  padding-bottom: 0.5em;
}

.controls-item h1 {
  font-size: 1em;
  font-weight: bold;
}

.controls-item ul {
  list-style: none;
  padding-left: 0;
}

#contents-table .controls-item li {
  padding-bottom: 0.5em;
  padding-left: 1em;
  text-decoration: underline;
}

input[type="number"] {
  max-width: 4em;
}

.change-page {
  font-family: sans-serif;
  font-size: 1.2em;
  cursor: pointer;
}

#score-view {
  height: 95vh;
  overflow-y: scroll;
  margin-left: 30px;
  margin-right: 30px;
}

#annotations-view {
  float: right;
  height: 95vh;
  overflow-y: scroll;
}

@keyframes highlight {
    0% {
        background: #f4a742;
        opacity: 0.8;
    }
    100% {
        background: none;
        opacity: 0.3;
    }
}

.highlight {
    animation: highlight 4s;
}

a {
  text-decoration: none;
  color: black;
}

.pdf-download {
  width: 16px;
  vertical-align: middle;
  margin: 4px 0 2px 4px;
  padding: 4px 0 1px 0px;
  background-color: #fff;
  color: red;
  border: 1px solid red;
  border-top-right-radius: 7px;
  box-shadow: 1px 1px #ccc;
  font-size: 7.7px;
  font-weight: 700;
  font-family: sans-serif;
  line-height: 16px;
  text-decoration: none;
  display: inline-block;
  box-sizing: content-box;
  cursor: pointer;
}

tei-ref {
  border: 0.7px solid #f47141;
  border-radius: 5px 5px 5px;
}

tei-p {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: justify;
  position: relative;
  width: 90%;
  line-height: 1.5;
}

tei-emph {
  font-weight: bold;
}

tei-head {
  display: block;
  font-family: Arvo, sans-serif;
  font-weight: normal;
  text-align: center;
}

tei-body > tei-head {
  font-size: 1.5em;
  text-indent: -0.5em;
}

tei-graphic > img {
  width: 80%;
}

tei-foreign {
  letter-spacing: 0.1em;
}

tei-note span {
  color: gray;
}

tei-notatedmusic svg {
  margin-left: auto;
  margin-right: auto;
}

tei-rdg:last-child {
  color: gray;
}

tei-rdg:last-child::before {
  content: "[alternative reading: ";
}

tei-rdg:last-child::after {
  content: "]";
}

input[type="number"] {
  width: 100px;
}

#error {
  background-color: rgba(150, 20, 20, 0.5);
  text-align: center;
  width: 300px;
  z-index: 999;
  top: 0px;
  display: none;
}

#copyright {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100px;
  font-family: sans-serif;
  font-size: 0.9em;
  background-color: #ededed;
  text-align: left;
  padding: 5px;
  z-index: 999;
  border-radius: 6px 6px 6px;
}


@media screen and (orientation:portrait) {
  .left-half {
    position: relative;
    float: none;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .right-half {
    position: absolute;
    right: auto;
  }
  
  #annotations-view {
    float: none;
    height: auto;
    width: 95vw;
  }
  
  #annotations-view tei-p {
    width: 100%;
  }
  
  #score-view {
    margin: 0;
    width: 90vw;
  }
  
  #controls {
    margin-top: 0.5em;
    font-size: 1.4em;
    transform: none;
  }
    
  .controls-table {
    width: 40vw;
    font-size: 1.5em;
  }
}

