#midiPlayer_div {
  height:20px;
  background: #e2e2e2;
}

#midiPlayer_bar {
  margin-top: 2px;
  height:12px;
  background:#ccc;
  cursor:pointer;
  display:inline-block;
}

#midiPlayer_progress {
  margin: 0px;
  background:#555;
  width:0;
  height:100%;
}
#midiPlayer_playingTime {
  width:45px;
  margin:2px;
  font-size:12px;
  text-align:right;
  font-family:sans-serif;
  display:inline-block;
}

#midiPlayer_totalTime{
  width:40px;
  text-align:left;
  margin:2px;
  font-size:12px;
  font-family:sans-serif;
  display:inline-block;
}

#midiPlayer_div a.icon {
  cursor: pointer;
}

#midiPlayer_div a.pause {
  font-size: 15px;
}

#midiPlayer_div a.stop {
  font-size: 20px;
}