#midiPlayer_div {
  height: 20px;
  background: #e2e2e2;
  border-radius: 2px 2px 2px;
}

#midiPlayer_bar {
  margin: auto;
  height: 12px;
  background: #ccc;
  cursor: pointer;
  display: inline-block;
}

#midiPlayer_progress {
  margin: 0;
  background: #555;
  width: 0;
  height: 100%;
}

#midiPlayer_playingTime {
  width: 45px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 2px;
  font-size: 0.9em;
  text-align: right;
  font-family: sans-serif;
  display: inline-block;
}

#midiPlayer_totalTime {
  width: 45px;
  text-align:left;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 3px;
  font-size: 0.9em;
  font-family: sans-serif;
  display: inline-block;
}

#midiPlayer_div a.icon {
  width: 10px;
  height: 1px;
  cursor: pointer;
}

#midiPlayer_div a.pause {
  font-size: 13px;
}

#midiPlayer_div a.stop {
  font-size: 13px;
}