.editorialNote {
  width: 30%;
  float: right;
  border: 1px dashed black;
  border-radius: 1rem;
  font-size: 0.7rem;
  padding: 0.5rem;
  margin: 0.5rem;
  text-align: left;
  text-indent: 0;
}

.footnote {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-indent: 0rem;
  color: gray;
  padding: 0.5rem;
  margin: 0.5rem;
  border-top: 0.5px solid gray;
  border-bottom: 0.5px solid gray;
}
