$overlayColor: #ffe47a;

.overlay {
  cursor: pointer;
  background-color: $overlayColor;
}

.targetOverlay {
  fill: $overlayColor;
  opacity: 0.4;
  cursor: pointer;
}

.blink {
  animation: blinking 1s 4;
}

@keyframes blinking {
  0% {
    background-color: $overlayColor;
    fill: $overlayColor;
  }

  50% {
    background-color: #ba0000;
    fill: #ba0000;
  }

  100% {
    background-color: $overlayColor;
    fill: $overlayColor;
  }
}
