@font-face {
  font-display: swap;
  font-family: 'Junicode';
  src: url('./assets/Junicode.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Junicode';
  font-weight: bold;
  src: url('./assets/Junicode-Bold.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Junicode';
  font-style: italic;
  font-weight: bold;
  src: url('./assets/Junicode-BoldItalic.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Junicode';
  font-style: italic;
  src: url('./assets/Junicode-Italic.woff') format('woff');
}
