.optionIcon, .optionText {
  opacity: 0.5;
  margin: 0.2rem;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }

  &.active {
    color: red;
  }
}

.optionText {
  font-size: 1.5rem;
}
